body{
    font-family: 'HelveticaNeue-Roman', sans-serif;
    min-height: 100%;
}

.main-box{
    background-color: #FFF;
    display: block;
    width: 90%;
    margin: 0 5% 0 5%;
}

.margin-top-zero{
    margin-top: 0;
}

.apply-button{
  margin-left: 18%;
}

.role-name{
  text-align: center;
  font-size: 2.3em;
  font-weight: bolder;
}

#get-involved-header{
  background: white;
  height: 10vw;
}

#get-involved-blurb{
  line-height:1.5em;
}

.center-align{
  text-align: center;
}
