body{
    background-color: #FFF;
    font-family: 'Barlow', sans-serif;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.logo{
    margin-left:8%;
    width:75%;
}

.icon{
    height: 42px;
    width: 42px;
    margin-right: 18px;
}

.image_right{
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(42% 0, 100% 0, 100% 100%, 0% 100%);
}

.right_side{
    width: 55%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 70;
    left: 45%;
}

.left_side{
    float: left;
    display: inline-block;
    width: 55%;
    height: 100%;
    z-index: 50;
    position: relative;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -70px;
}

.wrapper-footer{
    height: 40px;
    margin-left: 2%;
    display: inline;
    position: relative;
}

.sign-up, .sign-up:hover, .sign-up:focus{
    background-color: #fd7361;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-flow: column;
}

.flex-center-2{
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.flex-center-3{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.flex-space{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: nowrap;
}

.video-box{
    height: 300px;
    margin-top: 30px;
    display: none;
}

.vod{
    height: 100%;
    width: 100%;
}

.fs-1{
    font-size: 1.6vw;
    margin-left: 10%;
    padding-top:20%;
}

.fs-2{
    font-size: 5.5vw;
}

.fs-3{
    font-size: 3.5vw;
}

.fs-4{
    font-size: 1.7vw;
}

.orange{
    background: #fd7361 !important;
}

ul li{
    margin: 20px 0 20px 0;
}

/************************** Hamburger Nav ******************************/
/* Original Source: https://codepen.io/PaulVanO/pen/XJYGNQ */

.button_container {
    position: fixed;
    top: 3%;
    right: 4%;
    height: 2.3em;
    width: 3em;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
}

.button_container:hover {
    opacity: 0.7;
}

.button_container.active .top {
    transform: translateY(13px) translateX(0) rotate(45deg);
    background: #FFF;
}

.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}

.button_container.active .bottom {
    transform: translateY(-13px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.button_container span {
    background: #FFF;
    border: none;
    height: 7px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.button_container span:nth-of-type(2) {
    top: 12.5px;
}

.button_container span:nth-of-type(3) {
    top: 26.5px;
}

.overlay {
    position: fixed;
    background: #FF958A;
    top: 0;
    left: 77%;
    width: 23%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 80;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
}

.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 60px;
    position: relative;
    opacity: 0;
    float: none;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}

/* Using content="" creates an underline when hovered over */
.overlay ul li a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: 0.35s;
}

.overlay-menu{
    background-color: #FF958A;
}

nav{
    box-shadow: none;
}

.overlay-menu a{
    height: 100%;
}

a{
    color: black;
    text-decoration: none;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

/************************* Front Page - Brandon ***************************/

header{
    margin-bottom: 70px;
}

.logo2{
    width: 17vw;
    height: 5.4vw;
    float: left;
    margin-top: 22px;
}

.logo3{
    width: 18vw;
    height: 6vw;
    margin-bottom: 80px;
}

.navigation{
    float: right; 
    width: 45%;
    margin-top: 40px;
    font-size: 1.4vw;
}

header{
    margin-left: 2%;
    width: 96%;
    height: auto;
    overflow: hidden;
}

.fs-5{
    font-size: 1vw;
}

.fs-6{
    font-size: 6vw;
}

.fs-7{
    font-size: 4.4vw;
}

.fs-8{
    font-size: 1.25vw;
}

.orange-color{
    background-color: #ed7a67;
}

.dark-blue-color{
    background-color: #006b7f;
}

.light-blue-color{
    background-color: #808cf4;
}

.register{
    width: 11vw;
    height: 2.8vw;
    font-size: 1.4vw;
    margin-top: 60px;
    background-color: #fd7361;
}

.register:hover{
    background-color: #fd7361;
}

.register:focus{
    background-color: #fd7361;
}

.icon-2{
    width: 3vw;
    height: 3vw;
    margin-right: 20px;
    margin-top: 85px;
}

.icon-3{
    width: 2.3vw;
    height: 2.3vw;
    margin-right: 15px;
}

.float-right{
    float: right;
}

.blue-box{
    height: auto;
    width: 60%;
    background: #c0c5fd;
    padding: 5% 8% 5% 8%;
    margin-top: 200px;
}

.image-1{
    height: 13vw;
    width: 100%;
}

.image-2{
    width: 100%;
    height: 25vw;
}

.image-3{
    width: 95%;
    height: 20vw;
}

.grid-container{
    display: inline-grid;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: repeat(5, 20%);
    grid-auto-rows: auto;
    grid-row-gap: 50px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.sponsor-logo{
    width: 10vw; 
    height: 10vw; 
    justify-self: center;
}

.underline-hover:hover {
    text-decoration: underline;    
}

.white-text{
    color: white;
    text-decoration: none;
}

.com-spotlight-container{
    height: 21vw; 
    width: 100%; 
    margin-top: 5vw; 
    display: flex; 
    justify-content: space-around;
}

.banner{
    height: 180px;
    width: 100%;
    margin-bottom: 75px;
}

.banner h2{
    margin-left: 5%;
}

.margin-bottom{
    margin-bottom: 20px;
}

/************************* Scrollbar *************************************/
/* Source: https://codepen.io/GhostRider/pen/GHaFw */ 

.scrollbar{
	margin-left: 30px;
	height: 90%;
	width: 60%;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow{
	min-height: 101%; 
    padding-left: 4%;
}

#style-1::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/************************* Front Page - Catherine ***************************/

.table{
    display: table;
}
.tablerow {
    display: table-row;
    width: 100%;
}
.cell1 {
    display: table-cell;
    width: 40%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 5%;
}
.cell2 {
    display: table-cell;
    width: 60%;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.cell3 {
    background-image: url("assets/imgs/mentor.jpg");
    background-color: rgba(16,14,82,0.5); /* tint */
    background-blend-mode: multiply;
    background-size: cover !important;
    display: table-cell;
    width: 80%;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.cell4 {
    display: table-cell;
    width: 50%;
    padding-bottom: 5%;
    padding-left: 0%;
    padding-right: 5%;
    padding-top: 2%;
}
.cell6 {
    display: table-cell;
    width: 50%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.white-font{
    color: white;
}

/************** Mobile/Tablet Responsiveness ********************/

@media screen and (max-width: 500px) {

    .right_side{
        display: none;
    }

    .left_side{
        width: 100%;
    }

    .wrapper-footer{
        margin: none;
    }

    .video-box{
        display: block;
    }

    .button_container span{
        background: #000;
    }

    .icon{
        margin-right: 0px;
    }

    .wrapper-footer > div{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .overlay {
        top: 0;
        left: 0%;
        width: 100%;
        height: 0%;
        z-index: 100;
    }

    .overlay.open {
        opacity: .95;
    }

    .button_container{
        z-index: 200;
    }

    .logo{
        width: 280px;
        height: 100px;
    }

    .row .col.offset-s2 {
        margin-left: 5%;
    }

    .fs-1{
        font-size: 1.2em;
    }

    .fs-2{
        font-size: 12vw;
    }

    .fs-3{
        font-size: 9vw;
    }

    .fs-4{
        font-size: 4vw;
    }

    #my-canvas{
        margin-bottom: -470px !important;
        height:500px;
        max-width: 100%;
    }

    .logo{
        max-width: 86%;
        margin-left: 1%;
    }

    #mobile-video-button{
        display: block !important;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 1024px) and (min-width: 501px){

    .overlay {
        top: 0;
        left: 50%;
        width: 50%;
        height: 0%;
        z-index: 100;
    }

    .button_container{
        z-index: 200;
    }

    .logo{
        height: 110px;
        width: 290px;
    }

    .fs-1{
        font-size: 2vw;
    }

    .fs-2{
        font-size: 6.5vw;
    }

    .fs-3{
        font-size: 5vw;
    }

    .fs-4{
        font-size: 2vw;
    }

    .fs-5{
        font-size: 1.5vw;
    }

    .fs-6{
        font-size: 8vw;
    }

    .fs-7{
        font-size: 8vw;
    }

    .fs-8{
        font-size: 2.2vw;
    }

}

@media screen and (max-height: 550px){

    .overlay ul li {
        height: calc(100% / 4);
        min-height: 120px;
    }
}


/*------------------------------*/

#SheHacks-Title{
    font-weight:800;
    color:#808cf4;
}


#my-canvas{
    margin-bottom: -85%;
}

#short-description{
    font-size:1.3em;
}

#mobile-video-button{
    display: none;
}

/*
Logo Hex Colors (through photoshop):
#76d7f2
#808cf4
#ed7a67
#d64c3c

Sign Up Button Hex Color (through photoshop):
#fd7361

Dark Blue Color:
#006b7f
*/
