body{
    background-color: #FFF;
    font-family: 'Barlow', sans-serif;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.logo{
    margin-left:8%;
    width:75%;
}

.icon{
    height: 42px;
    width: 42px;
    margin-right: 18px;
}

.image_right{
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(42% 0, 100% 0, 100% 100%, 0% 100%);
}

.right_side{
    width: 55%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 70;
    left: 45%;
}

.left_side{
    float: left;
    display: inline-block;
    width: 55%;
    height: 100%;
    z-index: 50;
    position: relative;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -70px;
}

.wrapper-footer{
    height: 40px;
    margin-left: 2%;
    display: inline;
    position: relative;
}

.sign-up, .sign-up:hover, .sign-up:focus{
    background-color: #fd7361;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.flex{
    display: flex;
    padding: 5%;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-flow: column;
}

.flex-center-2{
    display: flex;
    justify-content: center;
    flex-flow: row;
}

.flex-center-3{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.flex-space{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: nowrap;
}

.flex-space-2{
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: nowrap;
}

.video-box{
    height: 300px;
    margin-top: 30px;
    display: none;
}

.vod{
    height: 100%;
    width: 100%;
}

.fs-1{
    font-size: 1.6vw;
    margin-left: 10%;
    padding-top:20%;
}

.fs-2{
    font-size: 5.5vw;
}

.fs-3{
    font-size: 3.5vw;
}

.fs-4{
    font-size: 1.7vw;
}

.orange{
    background: #fd7361 !important;
}

ul li{
    margin: 20px 0 20px 0;
}

/************************** Hamburger Nav ******************************/
/* Original Source: https://codepen.io/PaulVanO/pen/XJYGNQ */

.button_container {
    position: fixed;
    top: 3%;
    right: 4%;
    height: 2.3em;
    width: 3em;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
}

.button_container:hover {
    opacity: 0.7;
}

.button_container.active .top {
    transform: translateY(13px) translateX(0) rotate(45deg);
    background: #FFF;
}

.button_container.active .middle {
    opacity: 0;
    background: #FFF;
}

.button_container.active .bottom {
    transform: translateY(-13px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.button_container span {
    background: #FFF;
    border: none;
    height: 7px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.button_container span:nth-of-type(2) {
    top: 12.5px;
}

.button_container span:nth-of-type(3) {
    top: 26.5px;
}

.overlay {
    position: fixed;
    background: #FF958A;
    top: 0;
    left: 77%;
    width: 23%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 80;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
}

.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 60px;
    position: relative;
    opacity: 0;
    float: none;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}

/* Using content="" creates an underline when hovered over */
.overlay ul li a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: 0.35s;
}

.overlay-menu{
    background-color: #FF958A;
}

nav{
    box-shadow: none;
}

.overlay-menu a{
    height: 100%;
}

a{
    color: black;
    text-decoration: none;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

/************************** Hamburger Nav 2 ******************************/
/* Source: Same As The First One */

.button_container-2{
    display: none;
    position: relative;
    height: 2.3em;
    width: 3em;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
}

.button_container-2 span {
    background: #000;
    border: none;
    height: 7px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
}

.button_container-2 span:nth-of-type(3) {
    width: 60%;
}

.button_container-2.active span:nth-of-type(3) {
    width: 100%;
}

.button_container-2:hover {
    opacity: 0.7;
}

.button_container-2.active .top {
    transform: translateY(13px) translateX(0) rotate(45deg);
    background: #000;
}

.button_container-2.active .middle {
    opacity: 0;
    background: #000;
}

.button_container-2.active .bottom {
    transform: translateY(-13px) translateX(0) rotate(-45deg);
    background: #000;
}

.button_container-2 span:nth-of-type(2) {
    top: 12.5px;
}

.button_container-2 span:nth-of-type(3) {
    top: 26.5px;
}

/************************* Front Page - Brandon ***************************/

header{
    margin-bottom: 90px;
    margin-left: 2%;
    width: 96%;
    height: auto;
    overflow: hidden;
}

.logo2{
    width: 21vw;
    height: 6.5vw;
    float: left;
    margin-top: 22px;
}

.logo3{
    width: 25vw;
    height: 8vw;
    margin-bottom: 60px;
}

.navigation{
    float: right; 
    width: 45%;
    margin-top: 40px;
    font-size: 1.4vw;
}

.fs-5{
    font-size: 1vw;
}

.fs-6{
    font-size: 6vw;
}

.fs-7{
    font-size: 4.4vw;
}

.fs-8{
    font-size: 1.25vw;
}

.fs-9{
    font-size: 2.8vw;
}

.fs-10{
    font-size: 1.4vw;
}

.fs-11{
    font-size: 3vw;
}

.fs-12{
    font-size: 1.5vw;
}

.fs-13{
    font-size: 2.7vw;
}

.fs-14{
    font-size: 1.1vw;
}

.fs-15{
    font-size: 1.3vw;
}

.orange-color{
    background-color: #ed7a67;
}

.dark-blue-color{
    background-color: #006b7f;
}

.light-blue-color{
    background-color: #808cf4;
}

.register{
    width: 11vw;
    height: 2.8vw;
    line-height: 2.2em;
    font-size: 1.4vw;
    margin-top: 60px;
    background-color: #fd7361;
}

.register:hover{
    background-color: #fd7361;
}

.register:focus{
    background-color: #fd7361;
}

.icon-2{
    width: 3vw;
    height: 3vw;
    margin-right: 20px;
    margin-top: 85px;
}

.icon-3{
    width: 2.2vw;
    height: 2.2vw;
    margin-right: 15px;
}

.float-right{
    float: right;
}

.blue-box{
    height: auto;
    width: 60%;
    background: #c0c5fd;
    padding: 5% 8% 5% 8%;
    margin-top: 350px;
    margin-bottom: 0;
    float: right;
}

.image-1{
    height: 12vw;
    width: 100%;
}

.image-2{
    width: 100%;
    height: 25vw;
}

.image-3{
    width: 95%;
    height: 20vw;
}

.grid-container{
    display: inline-grid;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: repeat(5, 20%);
    grid-auto-rows: auto;
    grid-row-gap: 50px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.sponsor-logo{
    width: 10vw; 
    height: 10vw; 
    justify-self: center;
}

.underline-hover:hover {
    text-decoration: underline;    
}

.white-text{
    color: white;
    text-decoration: none;
}

.dark-blue-text {
    color: #808cf4;
    text-decoration: none;
}

.orange-text {
    color: #ed7a67;
    text-decoration: none;
}

.red-text {
    color: #d64c3c;
    text-decoration: none;
}

.com-spotlight-container{
    height: 21vw; 
    width: 100%; 
    margin-top: 5vw; 
    display: flex; 
    justify-content: space-around;
}

.com-spotlight-img{
    position: relative; 
    height: 25vw; 
    width: 25vw; 
    top: -2vw;
    margin: 0 50px 0 50px;
}

.com-spotlight-container.dark-blue-color{
    margin-bottom: 11vw;
}

.banner{
    height: 180px;
    width: 100%;
    margin-bottom: 0px;
}

.banner h2{
    margin-left: 5%;
}

.margin-bottom{
    margin-bottom: 20px;
}

.flex-footer{
    display: flex;
    justify-content: space-around;
    padding: 55px 0 55px 0 ;
}

.main-box{
    background-color: #FFF;
    display: block;
    float: right;
    width: 70%;
    padding: 1em 2em 5em 2em;
    margin: 0 5% 30px 0;
}

.about-box-1{
    margin: 5em 0 10em 0;
}

.about-box-2{
    width: 30%; 
    margin: 9em 3% 0 0;
}

.about-box-3{
    margin-top: 12em;
}

.about-box-4{
    width: 27%; 
    margin-right: 1%;
}

.about-box-5{
    width: 27%; 
    margin-top: 15em;
}

.about-img-1{
    margin-left: 25px;
}

.about-img-2{
    margin-left: 20px;
}

.about-img-3{
    margin-left: 25px;
}

.about-img-4{
    margin-left: 30px; 
    margin-top: 20px;
}

/************************* Scroll *************************************/

.navigation-scroll {
    position: fixed;
    width: 20%;
    margin-left: 2%;
    color: #fff;
}

.navigation_link {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 1em;
    font-weight: 400;
}

.navigation_link.active {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

.navigation-scroll a:nth-child(1){
    background-color: #76d7f2;
}

.navigation-scroll a:nth-child(2){
    background-color: #ed7a67;
}

.navigation-scroll a:nth-child(3){
    background-color: #808cf4;
}

.navigation-scroll a:nth-child(4){
    background-color: #d64c3c;
}

.navigation_link:hover {
    background-color: purple;
    transition: all 0.1s ease;
}

/************************* Front Page - Catherine ***************************/

.table{
    display: table;
}
.inline-block{
    display: inline-block;
}
.tablerow {
    display: table-row;
    width: 100%;
}
.cell1 {
    display: table-cell;
    width: 40%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 5%;
}
.cell2 {
    display: table-cell;
    width: 60%;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.cell3 {
    background-image: url("assets/imgs/mentor.jpg");
    background-color: rgba(16,14,82,0.5); /* tint */
    background-blend-mode: multiply;
    background-size: cover !important;
    display: table-cell;
    width: 80%;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.cell4 {
    display: table-cell;
    width: 50%;
    padding-bottom: 5%;
    padding-left: 0%;
    padding-right: 5%;
    padding-top: 2%;
}
.cell6 {
    display: table-cell;
    width: 50%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 14px;
    width: 20em;
    cursor: pointer;
}

.white-font{
    color: white;
}

.purple-color{
    background-color: #bf80ad; 
    opacity: .8;
}

#SheHacks-Title{
    font-weight:800;
    color:#808cf4;
}

#my-canvas{
    margin-bottom: -85%;
}

#short-description{
    font-size:1.3em;
}

#mobile-video-button{
    display: none;
}

/************** Mobile/Tablet Responsiveness ********************/

@media screen and (max-width: 500px) {

    .right_side{
        display: none;
    }

    .left_side{
        width: 100%;
    }

    .wrapper-footer{
        margin: none;
    }

    .video-box{
        display: block;
    }

    .button_container span{
        background: #000;
    }

    .icon{
        margin-right: 0px;
    }

    .wrapper-footer > div{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .overlay {
        top: 0;
        left: 0%;
        width: 100%;
        height: 0%;
        z-index: 100;
    }

    .overlay.open {
        opacity: .95;
    }

    .button_container{
        z-index: 200;
    }

    .logo{
        width: 280px;
        height: 100px;
    }

    .register{
        width: 38vw;
        height: 9vw;
        line-height: 1.95em;
        font-size: 3.5vw;
        font-weight: 440;
        margin-top: 30px;
    }

    .row .col.offset-s2 {
        margin-left: 5%;
    }

    header{
        margin-bottom: 40px;
    }

    .fs-1{
        font-size: 1.2em;
    }

    .fs-2{
        font-size: 12vw;
    }

    .fs-3{
        font-size: 9vw;
    }

    .fs-4{
        font-size: 4vw;
    }

    .fs-5{
        font-size: 3.4vw;
    }

    .fs-6{
        font-size: 12vw;
    }

    .fs-7{
        font-size: 12vw;
    }

    .fs-8{
        font-size: 3.8vw;
    }

    .fs-9{
        font-size: 8vw;
    }

    .fs-10{
        font-size: 3.2vw;
    }

    .fs-11{
        font-size: 11.2vw;
    }

    .fs-12{
        font-size: 4vw;
    }

    .fs-13{
        font-size: 8vw;
    }

    .fs-14{
        font-size: 4vw;
    }

    .fs-15{
        font-size: 5vw;
    }

    .blue-box{
        height: auto;
        width: 100%;
        margin: 120px 0 0 0;
        padding-bottom: 0;
    }

    .image-1{
        height: 18vw;
        width: 100%;
    }

    .image-2{
        width: 120%;
        height: 50vw;
        margin-left: -9.5%;
    }

    .grid-container{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        grid-template-columns: repeat(3, 33.3%);
        grid-row-gap: 30px;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .sponsor-logo{
        width: 22vw; 
        height: 22vw; 
    }

    #my-canvas{
        margin-bottom: -470px !important;
        height:500px;
        max-width: 100%;
    }

    .logo{
        max-width: 86%;
        margin-left: 1%;
    }

    .logo2{
        width: 52vw;
        height: 18vw;
        float: left;
        margin-top: 20px;
        margin-left: 5px;
    }

    .logo3{
        margin-bottom: 30px;
    }

    .icon-2{
        width: 7.5vw;
        height: 7.5vw;
        margin-right: 20px;
        margin-top: 40px;
        margin-bottom: 10vh;
    }

    .icon-3{
        width: 9vw;
        height: 9vw;
    }

    .navigation a{
        display: none;
    }

    .com-spotlight-container{
        height: 100vw; 
        width: 100%; 
        margin-top: 20vw; 
        flex-flow: column;        
        align-items: center;
    }

    .com-spotlight-container.orange-color{
        flex-flow: column-reverse;        
    }

    .com-spotlight-img{
        position: relative; 
        height: 50vw; 
        width: 50vw; 
        top: -10vw;
    }

    .com-spotlight-container div{
        position: relative;
        top: -13vw;
    }

    .com-spotlight-container div h2, .com-spotlight-container div p{
        text-align: center;
    }

    .logo3{
        width: 65vw;
        height: 24vw;
    }

    .flex-footer{
        flex-flow: column;
        justify-content: flex-start;
        padding-left: 8%;
    }

    .button_container-2{
        display: block;
        z-index: 200;
    }

    .button_container-2.active .bottom, .button_container-2.active .middle, .button_container-2.active .top {
        background: #FFF;
    }

    .overlay-2 ul li {
        height: 40px;
    }

    .button_container-2{
        display: block;
        position: relative;
        z-index: 200;
        left: 85%;
        top: 35px;
    }

    .about-box-1{
        display: block;
    }

    .about-box-2{
        width: 80%; 
        margin: 5em 10% 5em 10%;
    }

    .about-box-3{
        margin-top: 5em;
    }

    .about-box-4{
        float: left;
        width: 47%; 
        margin: 0 2% 0 2%;
    }

    .about-box-5{
        float: left;
        width: 47%; 
        margin: 0 2% 0 0;
    }

    #mobile-video-button{
        display: block !important;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 1024px) and (min-width: 501px){

    .overlay {
        top: 0;
        left: 50%;
        width: 50%;
        height: 0%;
        z-index: 100;
    }

    .overlay ul li a{
        font-size: 32px;
    }

    .button_container{
        z-index: 200;
    }

    .logo{
        height: 110px;
        width: 290px;
    }

    .register{
        width: 20vw;
        height: 6vw;
        line-height: 2em;
        font-size: 2.2vw;
        margin-top: 40px;
    }

    .blue-box{
        height: auto;
        width: 75%;
        margin-top: 120px;
        padding: 5% 6.5% 5% 6.5%;
    }

    .image-2{
        height: 34vw;
    }

    .fs-1{
        font-size: 2vw;
    }

    .fs-2{
        font-size: 6.5vw;
    }

    .fs-3{
        font-size: 5vw;
    }

    .fs-4{
        font-size: 2vw;
    }

    .fs-5{
        font-size: 2.2vw;
    }

    .fs-6{
        font-size: 11vw;
    }

    .fs-7{
        font-size: 10vw;
    }

    .fs-8{
        font-size: 3vw;
    }

    .fs-9{
        font-size: 6vw;
    }

    .fs-10{
        font-size: 2.6vw;
    }

    .fs-11{
        font-size: 6vw;
    }

    .fs-12{
        font-size: 2vw;
    }

    .fs-13{
        font-size: 4.1vw;
    }

    .fs-14{
        font-size: 2.1vw;
    }

    .fs-15{
        font-size: 2.5vw;
    }

    .icon-2{
        width: 6vw;
        height: 6vw;
        margin-right: 30px;
        margin-top: 45px;
    }

    .icon-3{
        width: 5vw;
        height: 5vw;
    }

    .grid-container{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        grid-template-columns: repeat(3, 33.3%);
        grid-row-gap: 30px;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .sponsor-logo{
        width: 17vw; 
        height: 17vw; 
    }

    .logo2{
        width: 38vw;
        height: 12vw;
        float: left;
        margin-top: 28px;
        margin-left: 10px;
    }

    .navigation a{
        display: none;
    }

    .com-spotlight-container{
        height: 28vw; 
        width: 100%; 
        margin-top: 5vw; 
    }

    .com-spotlight-img{
        position: relative; 
        height: 32vw; 
        width: 32vw; 
        top: -2vw;
    }

    .logo3{
        width: 44vw;
        height: 16vw;
    }

    .button_container-2{
        display: block;
        position: relative;
        z-index: 200;
        left: 92%;
        top: 42px;
    }

    .button_container-2.active .bottom, .button_container-2.active .middle, .button_container-2.active .top {
        background: #FFF;
    }

    .overlay-2 ul li {
        height: 100px;
    }

    .about-box-1{
        display: block;
    }

    .about-box-2{
        width: 80%; 
        margin: 8em 10% 5em 10%;
    }

    .about-box-3{
        margin-top: 5em;
    }

    .about-box-4{
        float: left;
        width: 47%; 
        margin: 0 2% 0 2%;
    }

    .about-box-5{
        float: left;
        width: 47%; 
        margin: 0 2% 0 0;
    }

}

/* Miscellaneous sizes */

@media screen and (max-height: 550px){

    .overlay ul li {
        height: calc(100% / 4);
        min-height: 120px;
    }

    .overlay-2 ul li {
        height: 40px;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1025px){

    .overlay ul li a{
        font-size: 35px;
    }

    .overlay{
        left: 60%;
        width: 40%;
    }

    .overlay-2 ul li {
        height: 40px;
    }
}

/*------------------------------*/



/*
Logo Hex Colors (through photoshop):
#76d7f2
#808cf4
#ed7a67
#d64c3c

Sign Up Button Hex Color (through photoshop):
#fd7361

Dark Blue Color:
#006b7f
*/
