.grid_container_1{
    display: grid;
    width: 100%;
    grid-template-columns: 80% 20%;
    /* grid-template-columns: minmax(14em, 2fr);*/
    grid-auto-rows: auto;
    /*  align-items: center;
    justify-items: center; */
}

.grid_container_1 img{
    width: 100%;
}

.grid_container_2{
    display: grid;
    width: 100%;
    grid-template-columns: 49.5% 49.5%;
    grid-column-gap: 1%;
    grid-auto-rows: auto;
}

.grid_container_2 div{
    width: 100%;
    min-height: 10em;
}

.grid_container_2 div h3, .grid_container_2 div p{ /* Prevent text from changing color from the other class */
    color: #000;
}

