.card-image{
   padding: 1em 2em 1em 2em;
   min-height: 15em;
}

.valign-wrapper{
   display: flex;
   flex-flow: column;
}

.card .card-content p{
   margin: .5em 0 .5em 0;
}

h5{
   margin-bottom: 1em;
}

#myBtn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 1000;
   font-size: 2em;
   border: none;
   background-color: rgba(255,0,0,.8);
   color: white;
   cursor: pointer;
   padding: 12px;
   border-radius: 15%;
}



@media only screen and (max-width: 1000px) {

   .card-image{
      min-height: 20em;
   }


}


/*

Blue: #52D9F6
Purple: #808cFB
Pink: #FD7361
Red: #E73F33

*/



