.card-image{
   min-height: 30em;
}

.valign-wrapper{
   height: 100%;
}

.card .card-content p{
   margin: .5em 0 .5em 0;
}

.mobile_logo{
   width: 70%;
   display: none;
}

@media only screen and (max-width: 1000px) {
   #main-sidebar{
      padding-left: 0;
   }

   .card-image{
      min-height: 20em;
   }
   
   .mobile_logo{
      display: block;
   }

}
